name: Android CI

on:
  workflow_dispatch:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  actions: write

env:
  BUILD_TYPE: Release

jobs:
  android:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload Artifact - Debug
        uses: actions/upload-artifact@v5
        with:
          name: retro_brick_game-debug.apk
          path: ${{github.workspace}}/train-departures-android/build/outputs/apk/debug/train-departures-android-debug.apk

      - name: Upload Artifact - Release
        uses: actions/upload-artifact@v5
        with:
          name: retro_brick_game-release.apk
          path: ${{github.workspace}}/train-departures-android/build/outputs/apk/release/train-departures-android-release-unsigned.apk
